<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>循环遍历对象</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 1.循环遍历对象的值 -->
        <ul>
            <li v-for="value in obj">{{value}}</li>
        </ul>
        <!-- 2.循环获取对象的key和value -->
        <ul>
            <li v-for="(value,key) in obj">{{key}}:{{value}}</li>
        </ul>
        <!-- 3.循环获取对象的index,key和value -->
        <ul>
            <li v-for="(value,key,index) in obj">{{index+1}}.{{key}}:{{value}}</li>
        </ul>
    </div>

    <script>
        //创建Vue实例,得到 ViewModel
        const vm = new Vue({
            el: '#app',
            data: {
                obj: {
                    name: 'tom',
                    age: 18,
                    sex: '男'
                }
            },
            methods: {}
        });
    </script>
</body>

</html>