<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-modal之radio</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <label for="boy">
            <!-- <input type='radio' id="boy" name='sex' value='男' v-model='sex'>男</input> -->
            <input type='radio' id="boy" value='男' v-model='sex'>男</input>
        </label>
        <label for="girl">
            <input type='radio' id='girl' value='女' v-model='sex'>女</input>
        </label>
        <h2>您选择的性别是：{{sex}}</h2>
    </div>

    <script>
        //创建Vue实例,得到 ViewModel
        const vm = new Vue({
            el: '#app',
            data: {
                sex: '男'
            },
            methods: {}
        });
    </script>
</body>

</html>